@import "common.scss";
@import "reset.scss";
@import './assets/css/iview/iview.css';
@import './assets/css/atom-one-light.css';
html {
    font-size: ($vm_fontsize / ($vm_design / 2)) * 100vw; // 同时，通过Media Queries 限制根元素最大最小值
    @media screen and (max-width: 320px) {
        font-size: 64px;
    }
    @media screen and (min-width: 540px) {
        font-size: 108px;
    }
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
}

.layout {
    min-height: 100%;
    background: #f5f7f9;
}

.main-width {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.layout-top {
    height: 100%;
}

.layout-logo {
    position: relative;
    width: 140px;
    height: 100%;
    float: left;
    a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            width: 100px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }
}

.layout-nav {
    height: 60px;
    margin: 0 auto;
    a {
        color: inherit;
    }
}

.layout-assistant {
    width: 300px;
    margin: 0 auto;
    height: inherit;
}

.layout-breadcrumb {
    padding: 10px 15px 0;
}

.layout-content {
    min-height: 460px;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
}

.layout-content-main {
    padding: 10px;
}

.layout-copy {
    text-align: center;
    padding: 10px 0 20px;
    color: #9ea7b4;
}

.bl-list {
    li {
        font-size: rem(10);
        line-height: rem(20);
        span {
            float: right;
        }
    }
}

.bl-about {
    .time {
        font-size: rem(10);
        font-weight: bold;
    }
    .content {
        font-size: rem(10);
        padding-left: 5px;
        margin-top: 8px;
    }
}

.markdown-content{
    font-size: rem(10);
    line-height: 1.4;
    h2{
        margin-bottom: rem(8);
    }
    code{
        padding:rem(8);
        margin: rem(4) 0 rem(8);
        display: block;
        background: rgb(247, 247, 247);
        max-height: 4rem;
        overflow: auto;
    }
    a {
        color: #42b983;
        font-weight: 600;
    }
    blockquote {
        margin: 8px 0 15px;
        padding-left: 10px;
        border-left: 4px solid #42b983;
        p{
            font-weight: 600;
            margin-left: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
} 